<div class="record-metadata">
    <p class="element-metadata-field">{{ identifier }}</p>
    <p class="element-metadata-field">{{ metadata | join(' | ') }}</p>
    <p class="element-metadata-field">{{ source }}</p>
    {% if truncate %}
        <p class="contentDescription">{{ description | truncate(300) }}</p>
    {% else %}
        <p class="contentDescription">{{ description }}</p>
    {% endif %}
</div>
