<div id="document-metadata">
    <h3>Metadata</h3>
    <div class="contentDescription">
        {{ metadata | join(' | ') }}
    </div>
</div>

<div class="document-text" id="document-text">
    <h3>Document text</h3>
    <ol class="tabs clearfix" id="language-selector">
        {% for lang, text in data|sort %}
            {% if loop.first %}
                <li><a class="element-text-language-selected" href="#document-text-{{ lang }}">{{ lang|lang2name }}</a></li>
            {% else %}
                <li><a class="element-text-language" href="#document-text-{{ lang }}">{{ lang|lang2name }}</a></li>
            {% endif %}
        {% endfor %}
    </ol>

    <div class="all-item-texts">
        {% for lang, text in data %}
            <div class="text-item element-text-document" id="document-text-{{ lang }}">{{ text|raw }}</div>
        {% endfor %}
    </div>

    {% if exhibit %}
        <a id="document-map">
            <h3 class="document-map">Map</h3>
            <a id="map-toggle-fullscreen" href="/neatline/fullscreen/{{ exhibit.slug }}">
                <span class="map-document-text">Toggle fullscreen</span>
                <div id="map-toggle-fullscreen-icon" class="material-icons">fullscreen</div>
            </a>
            <iframe class="element-map" src="/neatline/fullscreen/{{ exhibit.slug }}" width=100% height="410" frameborder="0" allowfullscreen></iframe>
        </div>
    {% endif %}
</div>